@import "../ulti/sidebar/style.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.container_ {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container_ {
    margin: 0 30px;
  }
}

.wrapper #sidebar {
  text-align: center;
}
.wrapper #sidebar .contact-sidebar .button {
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 1.1em 1.5em;
  overflow: hidden;
  line-height: 4;
  font-size: 0.9em;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  transition: all 300ms ease;
}
.wrapper #sidebar .contact-sidebar .button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}
.wrapper #sidebar .contact-sidebar .button i {
  padding-right: 0.5em;
}
.wrapper #sidebar .contact_icon a {
  color: #181818;
  margin-left: 1em;
  font-size: 11.7px;
}
.wrapper #sidebar .contact_icon a:hover {
  color: #b61984;
}

.header .container_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container_ .nav-logo {
  display: flex;
  align-items: center;
}
.header .container_ .nav-logo .navbar_toggler {
  display: none;
  background: transparent;
  border: none;
}
@media screen and (max-width: 1199px) {
  .header .container_ .nav-logo .navbar_toggler {
    display: block;
    margin-right: 1em;
  }
}
.header .container_ .nav-logo .navbar_toggler i {
  font-size: 30px;
}
.header .container_ .nav-logo .navbar_brand img {
  width: 80px;
}
@media screen and (max-width: 1199px) {
  .header .container_ .nav-logo .navbar_brand img {
    width: 48px;
  }
}
.header .container_ .navbar_link {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .header .container_ .navbar_link {
    display: none;
  }
}
.header .container_ .navbar_link ul li {
  display: inline;
  margin-right: 50px;
}
.header .container_ .navbar_link ul li a {
  font-size: 13px;
  font-weight: 600;
  color: #181818;
}
.header .container_ .navbar_link ul li a:hover {
  color: #b61984;
}
.header .container_ .navbar_link ul .active {
  position: relative;
}
.header .container_ .navbar_link ul .active::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -34px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
}
.header .container_ .navbar_link .contactbar .contact-item .button {
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 1.1em 1.5em;
  overflow: hidden;
  font-size: 0.9em;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  transition: all 300ms ease;
}
.header .container_ .navbar_link .contactbar .contact-item .button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}
.header .container_ .navbar_link .contactbar .contact-item .button i {
  padding-right: 0.5em;
}
.header .container_ .navbar_link .contactbar .contact-item a {
  color: #181818;
  margin-left: 1em;
  font-size: 11.7px;
}
.header .container_ .navbar_link .contactbar .contact-item a:hover {
  color: #b61984;
}

.aboutUs {
  padding: 4em 0;
}
.aboutUs .container_ {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ {
    display: block;
  }
}
.aboutUs .container_ .intro {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ .intro {
    width: 100%;
  }
}
.aboutUs .container_ .intro h1 {
  font-size: 16.5px;
  color: #b61984;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.aboutUs .container_ .intro span {
  font-size: 57px;
  font-weight: bold;
  color: #191919;
}
.aboutUs .container_ .image {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ .image {
    width: 100%;
  }
}
.aboutUs .container_ .image img {
  width: 100%;
}

.team {
  background-color: pink;
}
.team .container_ .team-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.team .container_ .team-row .team-col {
  width: 25%;
  padding: 0 20px;
}
.team .container_ .team-row .team-col .team-item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.team .container_ .team-row .team-col .team-item img {
  width: 100%;
}